
.logo{
    height: 50px;
    width: 50px;
}

.navBarPage{
    background-image: url(./components/images/new7.jpg);
    height: 50rem;
}

.css-1ynfsgs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.Banner {
    font-family: sans-serif;
    text-align: center;
    background-color: red;
}

.latest{
    background-image: url(./components/images/new7.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    object-fit: contain;
    background-attachment: fixed;
    filter: brightness(90%);
}
[data-overlay-dark], [data-overlay-light] {
    position: relative;
}
.wrap{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.eachCard {
    background-color: #58492b!important;
    border: 2px solid #c5a47e ;
    color: #fff !important;
    transition: all .5s;
  }
  
  .eachCard :hover{
    background-color: #c5a47e;
    color: #000;
    cursor: pointer;
    border: none !important;
    transition: all .5s;
  
}


.project-detail-list li {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 0.6rem;
    margin-top: 0.65rem;
    overflow: hidden;
  }
  
.project-detail-list li .left {
    float: left;
    font-weight: 600;
}
  
.project-detail-list li .right {
    float: right;
}

.img{
    width: 100%;
    height: auto;
}

.aboutImg:hover {
    transition: all 0.5s;
    color: #c5a47e;
    cursor: pointer;
}

.ChatMsn a{
    font-family: "Simplon Mono", "Courier New", Courier, monospace;
    letter-spacing: 1px;
    display: flex;
    font-weight: 700;
    font-size: 13px;
    max-width: 100%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    justify-items: center;
    color: green;
    border: 2px solid green;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 24px;
    background-color: #fff;
}

.ChatMsn a:hover{
    background-color: green;
    color: #fff;
}
  