
@import url(https://fonts.googleapis.com/css?family=Raleway);

*, *:before, *:after{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab',serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}

body{
  background: #f9f9f9;
  font-size: 16px;
}
html{
    scroll-behavior: smooth;
}
.logo{
    height: 50px;
    width: 50px;
}

.container{
    padding: 1em 1em;
    float: left;
    max-width: 100%;
    overflow: hidden;
  }




.cardSkillSet{
    margin-top: 90px;
    margin-bottom: 70px;
    border-radius: 12px;
    gap: 24px;
    height: 100%;
    width: 1200px;
   
}

.moveWrap{
    background-color: #353535;
    color: #fff;
    padding: 1px 0;
    display: flex;
    align-items: center;
    border: none;
    padding-bottom: 3rem;

}

.ourBestClient{
    margin: 0 80px;
    white-space: nowrap;
    padding-right: 6rem;
    padding-left: 6rem;

}
.ourBestClient h1{
    font-size: 24px;
    font-family: 'Reem Kufi',sans-serif;
    border-bottom: 2px solid white;
    
}




.move{
    display: inline-flex;
    animation: marquee-to-left 80s linear infinite;
    align-items: center;
}

.move img{
    height: 3rem;
    width: 3rem;
    border-radius: 10%;
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    filter: grayscale(100%) !important;
    box-shadow: 2px 2px 14px #ccc;
   
}
.card1{
    align-items: center;
    border: 1px solid #ccc;
   
}
.card1:hover{
    background-color: #f2f2f2;
    transition: all .5s;
    cursor: pointer;

}

#About{
        background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(./components/images/bkkk.jpg);
        background-position: 50% 50%;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        object-fit: cover;
}
.interior {
    word-wrap: break-word;
    word-break: break-word;
    font-family: 'Reem Kufi',sans-serif;
    background-color: #353535;
    color: #fff;
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 2;
       
}



.arch{
    word-wrap: break-word;
    font-size: 3rem;
    font-weight: 400;
    color: #fff;
    line-height: 1.1;
    font-family: 'Roboto Slab',serif
}

.css-1ynfsgs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.Banner {
    font-family: sans-serif;
    text-align: center;
    background-color: red;
}

.latest{
    background-repeat:no-repeat;
    background-size: cover;
    object-fit: contain;
    background-attachment: fixed;
    filter: brightness(90%);
}
[data-overlay-dark], [data-overlay-light] {
    position: relative;
    
}
.wrap{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.eachCard {
    background-color: white;
    color: #000000 !important;
    transition: all .5s;
  }
  
.eachCard :hover{
    background-color: #f2f2f2;
    color: #000;
    cursor: pointer;
    border: none !important;
    transition: all .5s;
  
}


.project-detail-list li {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 0.6rem;
    margin-top: 0.65rem;
    overflow: hidden;
  }
  
.project-detail-list li .left {
    float: left;
    font-weight: 600;
}
  
.project-detail-list li .right {
    float: right;
}

.img{
    width: 100%;
    height: auto;
}

.aboutImg:hover {
    transition: all 0.5s;
    color: #c5a47e;
    cursor: pointer;
}

.ChatMsn a{
    font-family: "Simplon Mono", "Courier New", Courier, monospace;
    letter-spacing: 1px;
    display: flex;
    font-weight: 700;
    font-size: 13px;
    max-width: 100%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    justify-items: center;
    color: green;
    transition: 0.5s;
    /* border: 2px solid green; */
    padding-left: 2rem;
    padding-right: 2rem;
    /* border-radius: 24px; */
    background-color: #fff;
}

.ChatMsn a:hover{
    background-color: green;
    color: #fff;
}

element.style {
    width: 100%;
}

.galleryMain img {
    height: auto;
    width: 100%;
}
.galleryMain{
    /* margin-top: 128px; */
    margin-bottom: 4rem;
    -webkit-column-count: 3;
    -webkit-column-width: 25%;
    columns: 25% 3;
    padding: 0;
}
.galleryMain .pics {
    cursor: pointer;
    margin-bottom: 12px;
    padding-top: 10px;
    transition: all .35s ease;
}

.project-highlights{
    text-align: center;
    padding-bottom: 50px;
    font-size: 2rem;
    font-weight: bolder;
}

.css-1gzxeik {
    width: 100%;
    animation-duration: 1000ms;
    animation-timing-function: ease;
    animation-delay: 0ms;
    animation-name: animation-os2n7p;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-iteration-count: 1;
   
}

.css-1gzxeik img {
    border-radius: 8px;
   
}

.pics{
    position: relative;
   
}
.overlayText{
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    border-radius: 8px;
}

.pics:hover .overlayText{
    opacity: 1;
}

.text-details{
    position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.pics:hover .text-details{
    top: 50%;
    left: 50%;
    opacity: 1;
}

.text-details h1{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.text-details p{
    color: #fff;
    font-size: 0.8em;
}

.text-details button{
    color: #fff;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #c5a47e;
    margin-top: 2rem;
    border-radius: 1rem;
    /* font-size: 0.8em; */
}

.fadeIn-bottom{
    top: 80%;
}

.fadeIn-top{
    top: 20%;
  }
  
  .fadeIn-left{
    left: 20%;
  }
  
  .fadeIn-right{
    left: 80%;
  }

  
 
@media (max-width: 500px) {
    .moveWrap{
        display: none;
    }
}

@media (min-width: 768px)  and (max-width:900px)  {
    .int{
        display: none;
    }
}

@media only screen and (min-width: 100px) and (max-width: 425px){
    .galleryMain {
        -webkit-column-count: 1;
        column-count: 1;
        padding: 0;
    }
}


@media only screen and (min-width: 100px) and (max-width: 425px){
    .galleryMain img {
        height: auto;
        width: 100%;
        display:grid;
    }
}

